.titulo {
    text-align: center;
}

#contenido {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.separacion {
    height: 20px;
    background-color: #F2F3F5;
}

.formCentros {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: .10PX;
}

.buscadorCentros {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.formUpdateCentros {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.getTableCentros {
    width: 90%;
    font-size: 1 rem;
    margin-left: 5%;
    overflow-y: scroll;
    max-height: 400px;
}

.buscadorCentrosBaja {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.getTableCentrosBaja {
    width: 90%;
    font-size: 1 rem;
    margin-left: 5%;
    overflow-y: scroll;
    max-height: 400px;
}

#btnFormCentro {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btnFormUpdateCentro {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

@media (max-width: 480px) {
    .getTableCentros {
        width: 90%;
        font-size: .6rem;
        margin-left: 5%;
    }
}