#carouselTarjetas {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}

#contenedorFormTarjeta {
    width: 50%;
    background-color: #e3e3e3;
    color: black;
    padding: 10px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contenedorFormModTarjeta {
    width: 50%;
    background-color: #e3e3e3;
    color: black;
    padding: 10px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#crearTabla {
    width: 50%;
    background-color: #e3e3e3;
    color: black;
    padding: 10px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}