.titulo {
    text-align: center;
}

#contenido {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.separacion {
    height: 20px;
    background-color: #F2F3F5;
}

.formUsuarios {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: .10PX;
}

.buscadorUsuarios {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.buscadorUsuariosBaja {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.formUpdateUsuarios {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.getTableUsuarios {
    width: 90%;
    font-size: 1 rem;
    margin-left: 5%;
    overflow-y: scroll;
    max-height: 400px;
}

.getTableUsuariosBaja {
    width: 90%;
    font-size: 1 rem;
    margin-left: 5%;
    overflow-y: scroll;
    max-height: 400px;
}

#btnFormUsuario {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btnFormUpdateUsuario {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

@media (max-width: 480px) {
    .getTableUsuarios {
        width: 90%;
        font-size: .6rem;
        margin-left: 5%;
    }
}