#contenido {
    padding-top: 20px;
}

.contenedor {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.comentariosContenido {
    width: 80%;
    margin-left: 10%;
}

#btnFormComentarioCentro {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}