.registro {
    width: 60%;
    margin-left: 20%;
}

.login {
    width: 40%;
    padding-top: 100px;
    margin-left: 30%;
}

.btn {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

@media (max-width: 480px) {
    .login {
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
    }
    .registro {
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
    }
}