.contenedor {
    width: 80%;
    margin-left: 10%;
    height: 800px;
    border: 1 solid black;
}

#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

#imgTrafico {
    width: 5%;
    float: left;
}

#imgUbicacion {
    width: 5%;
    float: left;
}

@media (max-width: 480px) {
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
}