#contenido {
    padding-top: 20px;
}

#imgPerfil {
    width: 20%;
    margin-left: 40%;
    border-radius: 50%;
}

.formUpdatePerfil {
    width: 70%;
    margin-left: 15%;
}

.formUpdatePassword {
    width: 70%;
    margin-left: 15%;
}

.btn {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

@media (max-width: 480px) {
    #imgPerfil {
        width: 40%;
        margin-left: 30%;
        border-radius: 50%;
    }
    .formUpdatePerfil {
        width: 70%;
        margin-left: 15%;
    }
    .formUpdatePassword {
        width: 70%;
        margin-left: 15%;
    }
}