    body {
        background-color: #F2F3F5;
    }
    
    #contenido {
        background-color: white;
        width: 80%;
        margin-left: 10%;
        min-height: 1000px;
    }
    
    .navbar-brand {
        color: white !important;
    }
    
    .nav-link {
        color: white !important;
    }
    
    .bg-light {
        background-color: #007bff !important;
    }
    
    footer {
        width: 100%;
        height: 100px;
        background-color: #f8f9fa;
        text-align: center;
        padding-top: 20px;
        color: #212529;
    }
    
    @media (max-width: 480px) {
        #contenido {
            background-color: white;
            width: 90%;
            margin-left: 5%;
            min-height: 800px;
        }
    }